UserScript__4x25G_DML_TOSA_COLLI_LENS_with_UV_Glue/Connected Services/SystemService/SystemServiceContract.Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemServiceContract.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemServiceContract.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="SSC_TriColorLightOptions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Red" />
      <xs:enumeration value="Yellow" />
      <xs:enumeration value="Green" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_TriColorLightOptions" nillable="true" type="tns:SSC_TriColorLightOptions" />
  <xs:complexType name="ArrayOfSSC_PresetPositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SSC_PresetPositionInfo" nillable="true" type="tns:SSC_PresetPositionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSSC_PresetPositionInfo" nillable="true" type="tns:ArrayOfSSC_PresetPositionInfo" />
  <xs:complexType name="SSC_PresetPositionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode" type="tns:SSC_MoveMode" />
      <xs:element minOccurs="0" name="Order" type="xs:int" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SSC_PresetPositionInfo" nillable="true" type="tns:SSC_PresetPositionInfo" />
  <xs:simpleType name="SSC_MoveMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REL" />
      <xs:enumeration value="ABS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_MoveMode" nillable="true" type="tns:SSC_MoveMode" />
  <xs:simpleType name="SSC_IOStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_IOStatusEnum" nillable="true" type="tns:SSC_IOStatusEnum" />
  <xs:simpleType name="SSC_IOTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Input" />
      <xs:enumeration value="Output" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_IOTypeEnum" nillable="true" type="tns:SSC_IOTypeEnum" />
  <xs:simpleType name="SSC_PMUnitEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="dBm" />
      <xs:enumeration value="dB" />
      <xs:enumeration value="mW" />
      <xs:enumeration value="mA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_PMUnitEnum" nillable="true" type="tns:SSC_PMUnitEnum" />
  <xs:simpleType name="SSC_PMRangeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RANGE1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANGE2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANGE3">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANGE4">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANGE5">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RANGE6">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AUTO">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SSC_PMRangeEnum" nillable="true" type="tns:SSC_PMRangeEnum" />
</xs:schema>