UserScript_VCC/Connected Services/CamRAC/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:element name="GrabOneFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrabOneFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="GrabOneFrameResult" nillable="true" type="q1:Bitmap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExposure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Exp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExposureResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExposure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExposureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExposureResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>