UserScript_Calculate_Colli_Recpt_Angle/Connected Services/SystemService/SystemServiceContract.Responses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SystemServiceContract.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SystemServiceContract.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/SystemServiceContract.Core" />
  <xs:complexType name="ReadPresetPositionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbsPosition" type="xs:double" />
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFastMoveMode" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMovable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SystemServiceContract.Core" minOccurs="0" name="Mode" type="q1:SSC_MoveMode" />
      <xs:element minOccurs="0" name="RelPosition" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:int" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadPresetPositionResponse" nillable="true" type="tns:ReadPresetPositionResponse" />
  <xs:complexType name="AlignmentAreaScanResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxisHorizontal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AxisVeritcal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPositionHorizontal" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPositionVeritcal" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentAreaScanResponse" nillable="true" type="tns:AlignmentAreaScanResponse" />
  <xs:complexType name="AlignmentNDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alignment1DResponseCollection" nillable="true" type="tns:ArrayOfAlignment1DResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentNDResponse" nillable="true" type="tns:AlignmentNDResponse" />
  <xs:complexType name="ArrayOfAlignment1DResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alignment1DResponse" nillable="true" type="tns:Alignment1DResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlignment1DResponse" nillable="true" type="tns:ArrayOfAlignment1DResponse" />
  <xs:complexType name="Alignment1DResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alignment1DResponse" nillable="true" type="tns:Alignment1DResponse" />
  <xs:complexType name="AlignmentAngleTuningResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AxisLinear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AxisRotating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPosition2" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue2" type="xs:double" />
      <xs:element minOccurs="0" name="PredictedAngle" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentAngleTuningResponse" nillable="true" type="tns:AlignmentAngleTuningResponse" />
  <xs:complexType name="AlignmentCentralAlignResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Axis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LMC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeakPosition1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakPosition2" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue1" type="xs:double" />
      <xs:element minOccurs="0" name="PeakValue2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlignmentCentralAlignResponse" nillable="true" type="tns:AlignmentCentralAlignResponse" />
</xs:schema>