UserScript_ProductInfoCollection/Connected Services/CamRAC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CamRemoteAccessContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICamRemoteAccessContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICamRemoteAccessContract_GrabOneFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:GrabOneFrame" />
  </wsdl:message>
  <wsdl:message name="ICamRemoteAccessContract_GrabOneFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrabOneFrameResponse" />
  </wsdl:message>
  <wsdl:message name="ICamRemoteAccessContract_SetExposure_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExposure" />
  </wsdl:message>
  <wsdl:message name="ICamRemoteAccessContract_SetExposure_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExposureResponse" />
  </wsdl:message>
  <wsdl:message name="ICamRemoteAccessContract_GetExposure_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExposure" />
  </wsdl:message>
  <wsdl:message name="ICamRemoteAccessContract_GetExposure_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExposureResponse" />
  </wsdl:message>
  <wsdl:portType name="ICamRemoteAccessContract">
    <wsdl:operation name="GrabOneFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/GrabOneFrame" message="tns:ICamRemoteAccessContract_GrabOneFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/GrabOneFrameResponse" message="tns:ICamRemoteAccessContract_GrabOneFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExposure">
      <wsdl:input wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/SetExposure" message="tns:ICamRemoteAccessContract_SetExposure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/SetExposureResponse" message="tns:ICamRemoteAccessContract_SetExposure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExposure">
      <wsdl:input wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/GetExposure" message="tns:ICamRemoteAccessContract_GetExposure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICamRemoteAccessContract/GetExposureResponse" message="tns:ICamRemoteAccessContract_GetExposure_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICamRemoteAccessContract" type="tns:ICamRemoteAccessContract">
    <wsp:PolicyReference URI="#NetTcpBinding_ICamRemoteAccessContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GrabOneFrame">
      <soap12:operation soapAction="http://tempuri.org/ICamRemoteAccessContract/GrabOneFrame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetExposure">
      <soap12:operation soapAction="http://tempuri.org/ICamRemoteAccessContract/SetExposure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExposure">
      <soap12:operation soapAction="http://tempuri.org/ICamRemoteAccessContract/GetExposure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CamRemoteAccessContract">
    <wsdl:port name="NetTcpBinding_ICamRemoteAccessContract" binding="tns:NetTcpBinding_ICamRemoteAccessContract">
      <soap12:address location="net.tcp://localhost:19527/CAM" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:19527/CAM</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>